@import url('./main.css');

.header-listings {
    padding: 1rem 0;
    border-bottom: .1rem solid var(--black);
}
.header-listings .title {
    display: block;
    margin-bottom: 1rem;
}
.header-listings .search {
    display: flex;
    gap: 3rem;
}

/* search team */
.header-listings .search .search-team {
    display: flex;
    gap: 1rem;
    align-items: center;
}
.header-listings .search .search-team select {
    width: 12rem;
    font-size: 1rem;
    padding: 0.3rem;
}
.header-listings .search .search-team .shield {
    background-color: thistle;
    width: 3rem;
    height: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* search player */
.header-listings .search-player {
    display: flex;
    align-items: center;
    gap: .5rem;
}
.header-listings .search-player input {
    font-size: 1rem;
    width: 16rem;
    padding: 0.3rem;
}